*{
  overflow: hidden;
}

body {

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  overflow: hidden;
}

textarea {
  text-align: center;

}

#targetField{
  font-size: 2rem;
  font-family: sans-serif;
}

#inputField {
  font-size: 2rem;
}

#win-h1 {
  font-size: 3rem;
  display: none;
}

.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background: #004134;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--hidden {
    bottom: -100%;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 70px;
    width: 7%;
    max-width: 90px;
    margin: 3px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1.05rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    /* padding: 0; */
    -webkit-tap-highlight-color: transparent;
    position: relative;
}

.keyboard__key:active {
    background: rgba(255, 255, 255, 0.12);
}

.keyboard__key--wide {
    width: 10%;
}

.keyboard__key--extra-wide {
    width: 24%;
    max-width: 500px;
}

.keyboard__key--activatable::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.keyboard__key--active::after {
    background: #08ff00;
}

.keyboard__key--dark {
    background: rgba(0, 0, 0, 0.25);
}

#timer {
  margin: 20px;
  font-family: sans-serif;
  background-color: black;
  color: white;

  font-size: 2rem;
}
